<ul>
  {{#each this}}
    <li>
      <div>
        <h2>{{type}} - {{id}}</h2>
        <img width='200' src='{{image}}' alt='{{type}}' />
      </div>

      {{! if(cat.homeless) }}
      {{#if homeless}}
        <div>
          <button>Взять домой</button>
        </div>
      {{/if}}

      {{! if(!cat.homeless) }}
      {{#unless homeless}}
        <div>
          <button>Поиграть</button>
        </div>
      {{/unless}}
    </li>
  {{/each}}
</ul>